.ex-1-square:hover{
    transition: linear 2s;
    background-color: red;
}
.ex-2-square:hover:active{
    transition: linear 2s;
    width: 100%;
}
.ex-3-square:hover{
    transition: linear 0.2s;
    border-radius: 50%;
}
.ex-4-square:hover{
    transition: linear 1s;
    background-color: transparent;
}
